@page
@model IndexModel
@{
    ViewData["Title"] = "Courselabs";
}

<h1>Random Number Generator</h1>

@if (@Model.CallFailed == false && @Model.RandomNumber != -1)
{
    <p>Here it is: @Model.RandomNumber</p>
    <p>(Served by: @Model.Instance. Using API at: @Model.ApiUrl)</p>
}
else if (@Model.CallFailed)
{
    <p>RNG service unavailable!</p>
    <p>(Using API at: @Model.ApiUrl)</p>
}
else
{
    <form method="post">
        <p>Get a random number</p>
        <input type="submit" value="Go!"/>
    </form>
}


      <div class="footer">
<<<<<<< HEAD
          A demo app from the <a href="https://azure.azureauthority.in">Azure course labs</a>
=======
          A demo app from the <a href="https://azure.courselabs.co">Azure course labs</a>
>>>>>>> 294ba0192c4d7be6084b7914be1fecee6edd1552
      </div>
